.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tree-node {
    padding-left: 25px;
}

.tree-node__control {
    padding-left: 15px;
    color: green;
}
